<div class="contact-head">
  <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS7IoWjlkZJMCBHrah5kaw1FnE0jvEcDy3csQ&usqp=CAU"
    alt="image"
    class="img-fluid"
    style="width: 100%"
  />
</div>
<div class="row text-center">
  <div class="col-5">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSKuDi4mifr_3aJZVocr8b58au-uAO0cnWLEg&usqp=CAU"
    />
  </div>
  <div class="col-7">
    <h1>Get in touch</h1>
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <input
            type="text"
            name="firstname"
            placeholder="Firstname"
            class="form-control"
          />
        </div>
        <div class="form-group col-md-6">
          <input
            type="text"
            name="lastname"
            placeholder="Lastname"
            class="form-control"
          />
        </div>
      </div>
      <div class="form-group">
        <input
          type="email"
          name="email"
          placeholder="Email"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          name="phonenumber"
          placeholder="Mobile No."
          class="form-control"
        />
      </div>
    </form>
  </div>
</div>
