<footer class="footer text-center">
  <div class="top">
    <h3>Stark</h3>
    <div class="links">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <a routerLink="/services" routerLinkActive="active">Services</a>
      <a routerLink="/about-us" routerLinkActive="active">About Us</a>
      <a routerLink="/contact-us" routerLinkActive="active">Contact </a>
    </div>
    <div class="social-icons">
      <i class="fa fa-instagram" aria-hidden="true"></i>
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <i class="fa fa-twitter" aria-hidden="true"></i>
      <i class="fa fa-linkedin" aria-hidden="true"></i>
    </div>
  </div>

  <hr />

  <div class="bottom text-center">
    <p>Copyright &copy; 2020 | <strong>STARK</strong> Services <br /></p>
    <div class="love">
      Developed with
      <i
        class="fa fa-heart mt-1 ml-1"
        aria-hidden="true"
        style="color: red"
      ></i>
    </div>
  </div>
</footer>
