header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #4033ff;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
  transition: all 0.05s;
}

.logo {
  color: #fff;
  height: 50px;
  font-weight: 600;
  font-size: 36px;
  line-height: 60px;
  margin: 10px 0;
  padding: 0 20px;
  text-align: center;
  box-sizing: border-box;
  float: left;
  text-decoration: none;
}

nav {
  float: right;
}

.clearfix {
  clear: both;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  margin: 8px 2px;
  padding: 10px 20px;
  text-decoration: none;
  /* color: #363636; */
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  transform: scale(0.9);
}

nav ul li a.active {
  transform: scale(1.4);
}

nav ul li a:hover {
  transform: scale(1.4);
  transition: all 0.5s;
  font-weight: 700;
}

.social-icons {
  display: flex;
  flex-direction: row;
}

@media (max-width: 700px) {
  .menu-toggle {
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px;
    font-weight: 400;
    float: right;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: #fff;
  }

  .menu-toggle:before {
    content: "\f0c9";
    font-family: "fontAwesome";
    line-height: 40px;
  }

  .menu-toggle.active:before {
    content: "\f00d";
  }

  nav {
    display: none;
  }

  nav.active {
    display: block;
    width: 100%;
    transition: 2s;
  }

  nav.active ul {
    display: block;
    margin-left: 25px;
  }

  nav ul li a.active {
    transform: scale(1.2);
  }

  nav ul li a:hover {
    transform: scale(1.2);
    transition: all 0.5s;
    font-weight: 700;
  }

  nav.active ul li a {
    margin: 0;
  }
}
